*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

/* ----------------------------------SECCION DEL BOODY */

.grid
{
    background-color: #f2f2f2;
    height: 200px;
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
    justify-items: center;
}

/* ----------------------------------SECCION DEL HEADER */

.header
{
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    width: 100%;
    height: 12vh;
    border-top: solid 15px;
    border-color: #185749;
    background: #458779;
    grid-column-start: x0;
    grid-column-end: x3;
}

.logo-header
{
    display: inline-block;
    position: absolute;
    margin: 2px 0 0 10px;
}

.logo-header__isot
{
    display: inline-block;
    position: absolute;
    width: 60px;
}

.logo-header__logot
{
    display: inline-block;
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    width: 200px;
    top: 20px;
}

.logo-header:hover > .logo-header__logot
{
    opacity: 5;
    transform: translate(70px,0);
}

/* ----------------------------------SECCION DEL NAV HEADER */

.nav
{
    display: inline-block;
    position: absolute;
    font-size: 1.5rem; 
    margin-top: 20px;
    right: 10px;
}

.main-nav__item
{
    display: inline-block;
    padding: 0 5px;
    font-family: 'Open Sans bold';
}

.main-nav__item :hover
{
    color: #185749;
}

.main-nav__item a
{
    text-decoration: none;
    color: white;
}

.main-nav__item a::after
{
    content: " | ";
}

/* ----------------------------------SECCION DEL SIDEBAR */

.sidebar-left
{
    min-height: 60vh;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-row: y1 / y2;
}

.sidebar-right
{
    min-height: 60vh;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-column: x2 / x3;
    grid-row: y1 / y2;
}

.section
{
    position: relative;
    margin: 10px 0;
}

.sidebar-left img
{
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    width: 220px;
}

.sidebar-right img
{
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    width: 220px;
}

.zoom
{
    transition: 0.5s;
}

.sidebar-left .zoom:hover
{
    transform: translate(30px,0px) scale(1.2);
}

.sidebar-right .zoom:hover
{
    transform: translate(-30px,0px) scale(1.2);
}

/* ----------------------------------SECCION DEL MAIN */

.main
{
    width: 40vw;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-column: x1 / x2;
    grid-row: y1 / y2;
}

.main-section1
{
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #585858;
    padding: 30px;
}

.main-section1 h2
{
    margin-bottom: 5px;
    border-bottom: solid 1px #333;
}

.main-section1 p
{
    font-size: 1.2rem;
}

.img-banner
{
    width: 100%;
    margin: 10px 0;
}

/* ----------------------------------SECCION DEL FOOTER */

.footer
{
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background: #333;
    width: 100%;
    height: 15vh;
    border-bottom: solid 15px;
    border-color: rgb(20, 20, 20);
    grid-column: x0 / x3;
    grid-row: y2;
}
.footer-text
{
    display: inline-block;;
    color: white;
    text-align: center;
    font-size: 10px;
}

.footer p
{
    font-family: 'Open Sans light';
    font-weight: 800;
    margin: 5px 0;
}

.footer .footer-text
{
    position: absolute;
    margin: 25px auto;
    left: 0;
    right: 0;
}

.redes-sociales
{
    position: absolute;
    right: 30px;
    margin-top: 30px;
    
}

.redes-sociales img
{
    display: inline-block;
    width: 30px;
    margin: 0 15px;
}

.rd-text
{
    display: inline-block;
    width: 130px;
    position: absolute;
    transition: 0.5s;
    right: 25px;
    bottom: 1px;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    opacity: 0.0;
}

#whatsapp
{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#whatsapp:hover > .rd-text
{
    opacity: 5;
    transform: translate(-30px,0);
}

#whatsapp:hover
{
    transform: scale(1.5);
}

.correo
{
    display: inline-block;
    position: relative;
    left: 30px;
    top: 30px;
    padding: 0;
}

.correo img
{
    display: inline-block;
    width: 30px;
}

.correo p
{
    display: inline-block;
    position: relative;
    color: white;
    font-family: 'Open Sans light';
    font-size: 1rem;
    margin-left: 10px;
    bottom: 5px;
}

.text-2020
{
    text-decoration: underline;
}

.footer .redes-sociales .zoom:hover
{
    transform: scale(1.5);
    animation: latido .5s infinite;
}


@keyframes latido
{
    form {transform: none;}
    60% {transform: scale(1.4);}
    form {transform: none;}
}